---
title: Calendar
icon: fa-user
order: 7
---

<p>This is the MDEF Calendar.</p>
<iframe src="https://calendar.google.com/calendar/embed?src=iaac.net_ubvsvit3pnhj5c0vv0hf9mphis%40group.calendar.google.com&ctz=Europe%2FMadrid" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
